.pagination.pagination-centered
  %ul
    %li.page= link_to "по 25", url_for(:per_page => 25)
    %li.page= link_to "по 50", url_for(:per_page => 50)
    %li.page= link_to "по 100", url_for(:per_page => 100)

