@import "bootstrap";

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

footer {
  margin-top: 30px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.3em;
  letter-spacing: 1px;
  margin-bottom: 20px;
  font-weight: normal;
  color: #999;
}

p {
  line-height: 1.7em;
}


.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-weight: 1;
  text-decoration: none;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

div.sign_in {
  width: 220px;
  margin: auto;
}

input.error, textarea.error, select.error {
  border-color: #953B39;
  -webkit-box-shadow: 0 0 6px #d59392;
  -moz-box-shadow: 0 0 6px #d59392;
  box-shadow: 0 0 6px #d59392;
}

.radio, .checkbox {
  padding: 0 18px 0 0;
}

#alerts-wrapper {
  width: 700px;
  margin: auto;
  .alert {
    text-align: center;
  }
}

table.vertical {
  width: 40%;
}

table.vertical th {
  width: 35%;
}

tr.inactive {
  color: #aaa;
}

h2.inactive {
  text-decoration: line-through;
}

.choices-group {
  list-style: none;

  label input{
    display: inline;
  }
}

.no-margin { margin: 0px; }

.form-horizontal {
  div.checkbox.inline, div.radio.inline {
    .control-label {
      text-align: left;
    }
  }

  label.collection_check_boxes, label.collection_radio_buttons {
    display: inline;
    margin-right: 10px;
  }

  div.collection_check_boxes {
    span {
      display: block;
      margin-bottom: 3px;
    }
  }
}
