.formtastic {
  .input .label {
    display: block;
    width: 15%;
    float: left;
    padding-top: .2em;
  }

  .buttons {
    overflow: hidden;
    padding-left: 15%;
    margin-bottom: 30px;
  }

  .inline-errors {
    color: #c00;
    margin: 0.5em 0 0 15%;
  }
}

.formtastic .stringish input {
  width: 25%;
}
