// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#filter-wrapper {
  display: none;
}

textarea.check-links {
  width: 90%;
}

ul.checked-links {
  list-style: none;
  .active { color: blue; }
  .inactive { color: red; }
  .new { color: green; }
}
